<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cerulean/bootstrap.css"/>

    <style>
        body {
            margin: 0;
            padding: 10px;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>

<body>
    <h3>Teachers</h3>

    {% if teachers %}
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Teaching Area</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{teacher.Name}}</td>
            <td>{{teacher.Email}}</td>
            <td>{{teacher.Area}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No data!
    {% endif %}

    <br><br>

    <h3>Students</h3>
    {% if students %}
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Subject</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.Name}}</td>
            <td>{{student.Email}}</td>
            <td>{{student.DOB}}</td>
            <td>
                {% for subject in student.Subjects.all %} {{subject.Name}}{% if not forloop.last %},
                {% endif %}
                {% empty %} No subjects selected.
                {% endfor %}
            </td>

        </tr>
        {% endfor %}
    </table>
    {% else %}
    No data!
    {% endif %}

    <br><br>

    <h3>Units</h3>
    {% if units %}
    <table>
        <tr>
            <th>Title</th>
            <th>Accreditation</th>
            <th>Unit Description</th>
            <th>Unit Goals</th>
            <th>Content Descriptions</th>
        </tr>
        {% for unit in units %}
        <tr>
            <td>{{unit.Title}}</td>
            <td>{{unit.Accreditation}}</td>
            <td>{{unit.Unit_Description}}</td>
            <td>{{unit.Unit_Goals}}</td>
            <td>{{unit.Content_Descriptions}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No data!
    {% endif %}

    <p><a href="{% url 'report'%}">PDF Report</a></p>

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'unitInformation' %}">Unit Information</a>
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'teacherForm' %}">Teacher Registration</a>
    <a href="{% url 'studentForm' %}">Student Registration</a>
</body>


