<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        body {
            margin: 0;
            padding: 10px;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>

<body>
    <h3>Settings</h3>

    Settings! Includes accessibility settings.

    <br>
    <br>

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'unitInformation' %}">Unit Information</a>
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'teacherForm' %}">Teacher Registration</a>
    <a href="{% url 'studentForm' %}">Student Registration</a>
</body>
